* {
    margin: 10;
    padding: 0;
    box-sizing: border-box; /*This allows easy calculations for width and height*/
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: Helvetica Neue, Arial;
}

h1, h2 {
    color: rgba(74, 77, 165, 0.79);    
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    text-align: justify;
}

.main-text {
    text-align: justify;
    margin-bottom: 20px;
}

#author-text {
    font-size: 22px;
    float: left;  /* Used to float the author's name next to him*/
    margin-top: 15px;
    margin-left: 30px;
}
.container {
    width: 1140px;
/*    marging: top, right, bottom, left;*/
    margin: 20px auto 0 auto;
}

.blog-post {
/*    background-color: #0000FF;*/ /* Used to see where the box elements are*/
    width: 75%;
    float: left;
    padding-right: 30px;
    position: relative; /* Needed to position, the .date class within it */
}

.other-posts {
/*    background-color: #00FF00;*/ /* Used to see where the box elements are*/
    width: 25%;
    float: left;
}

.author-box {
    /* background-color: #ffff00;  Used to see where the box elements are */
    padding: 20px;
    border-top: 1px solid #a7a7a7;
}

.author-box img {  /* Only targets img elements with the author-box class */
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;  /* Used to float the author's name next to him*/
}

.other {
    margin-bottom: 20px;
}

.blog-post img {
    height: 150px;
    width: auto; /* Used to keep the aspect ratio of the original - as we just defined a height */
}

.date {
    position: absolute; /* Note, it's parent the .blog-post class must be set to relative */
    top: 10px;     /* Means no distance between it and the parent container*/ 
    right: 30px;   /* Means no distance between it and the parent container*/ 
}
